body{
    background: linear-gradient(0deg, rgba(100,0,200,0.1) -100%, rgba(0,0,110,1) 250%);
    background-color:  black;
    background-repeat: repeat;
    background-size: auto;
    height: 100%;
}
